<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

<akka>
    <hocon>
        <![CDATA[
        akka {
        	log-config-on-start = on
          	stdout-loglevel = DEBUG
          	loglevel = ERROR
          	actor {
              	# debug {  
                # 	receive = on 
                # 	autoreceive = on
                # 	lifecycle = on
                # 	event-stream = on
                # 	unhandled = on
              	# }
          	}

          	persistence {
          		journal {
          		    # # Path to the journal plugin to be used
            		# plugin = "akka.persistence.journal.write"
					# 
            		# write {
            		# 	dir = "journal"
            		# 	class = "Akka.Persistence.Journal.WriteJournal, Akka.Persistence"
            		# }

            		plugin = "akka.persistence.journal.inmem"

            		# In-memory journal plugin.
            		inmem {
                		# Class name of the plugin.
                		class = "Akka.Persistence.Journal.MemoryJournal, Akka.Persistence"
					
                		# Dispatcher for the plugin actor.
                		plugin-dispatcher = "akka.actor.default-dispatcher"
            		}
    			}

		        snapshot-store {
            		# Path to the snapshot store plugin to be used
		            plugin = "akka.persistence.snapshot-store.local"

      			    # Local filesystem snapshot store plugin.
            		local {

                		# Class name of the plugin.
                		class = "Akka.Persistence.Snapshot.LocalSnapshotStore, Akka.Persistence"

                		# Dispatcher for the plugin actor.
                		plugin-dispatcher = "akka.persistence.dispatchers.default-plugin-dispatcher"

                		# Dispatcher for streaming snapshot IO.
                		stream-dispatcher = "akka.persistence.dispatchers.default-stream-dispatcher"

                		# Storage location of snapshot files.
                		dir = "snapshots"
                    }
                }
    		}
        }
        ]]>
    </hocon>
</akka>

</configuration>
